@import url(https://fonts.googleapis.com/css?family=Cabin);


/*
	Peculiar was created by Lucian Marin - lucianmarin.com 
	Licensed under GPL
*/

.icon {
	width:32px;
	height:32px;
	position: relative;
}

.icon-mic-circle {
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: #FFFFFF 3px solid;
	border-top: transparent;
	position: absolute;
	height: 12px;
	width: 16px;
	bottom: 6px;
	left: 5px;
}
.icon-mic-line {
	background-color: #FFFFFF;
	border-radius: 4px;
	position: absolute;
	height: 20px;
	width: 8px;
	left: 12px;
	top: 0;
}
.icon-mic-dot {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	background-color: #FFFFFF;
	position: absolute;
	height: 7px;
	width: 4px;
	bottom: 0;
	left: 14px;
}
/* http://lucianmarin.com/peculiar/ */











body {
  background: #222;
}
* {
  outline: 0;
}

#messageBox {
  font-family: 'Cabin', sans-serif;
  background: #dddddd none repeat center;
  
  
  background-image: -webkit-linear-gradient(left top, rgba(0,0,0,0.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));
  -webkit-background-size: 80px 80px;
  
  
  margin: -256px -153px;
  border-radius: 5px;
  position: fixed;
  height: 512px;
  width: 306px;
  left: 50%;
  top: 50%;
  
  
  /* -webkit-transform: scale(1.1); */
}
#messageBox #messangerTop {
  border-radius: 5px 5px 0 0;
  background-color: #007744;
  position: absolute;
  height: 50px;
  right: 0px;
  left: 0px;
}
#messageBox #messangerTop .leftArrow {
  border-width: 2px 0 0 2px;
  border-color: #FFFFFF;
  border-style: solid;
  position: absolute;
  height: 10px;
  width: 10px;
  left: 10px;
  top: 20px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#messageBox #messangerTop #portrait {
  background-color: #FFFFFF;
  border-radius: 3px;
  position: absolute;
  height: 40px;
  width: 40px;
  left: 25px;
  top: 5px;
}
#messageBox #messangerTop #userInfo {
  color: #FFFFFF;
  position: absolute;
  height: 35px;
  right: 25px;
  left: 70px;
  top: 5px;
}
#messageBox #messangerTop #userInfo #userName {
  line-height: 25px;
  font-size: 18px;
}
#messageBox #messangerTop #userInfo #userStatus {
  line-height: 10px;
  font-size: 10px;
  opacity: 0.5;
}

#messageBox #messangerBottom {
  border-radius: 0 0 5px 5px;
  background-color: #007744;
  position: absolute;
  height: 50px;
  right: 0px;
  left: 0px;
  bottom: 0;
}
#messageBox #messangerBottom #smile {
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  position: absolute;
  font-size: 16px;
  height: 26px;
  width: 26px;
  left: 10px;
  top: 10px;
}
#messageBox #messangerBottom #smile #eye1,
#messageBox #messangerBottom #smile #eye2 {
  background: #FFFFFF;
  border-radius: 25px;
  position: absolute;
  font-size: 16px;
  height: 3px;
  width: 3px;
  top: 7px;
}
#messageBox #messangerBottom #smile #eye1 {
  left: 7px;
}
#messageBox #messangerBottom #smile #eye2 {
  right: 7px;
}
#messageBox #messangerBottom #smile #mouth {
  border: 2px solid #FFFFFF;
  border-radius: 0 0 25px 25px;
  position: absolute;
  font-size: 16px;
  border-top: 0;
  height: 6px;
  width: 10px;
  left: 6px;
  top: 14px;
}
#messageBox #messangerBottom #messageInput {
  font-family: "微軟正黑體";
  background-color: #FFFFFF;
  line-heighgt: 24px;
  border-radius: 3px;
  position: absolute;
  padding: 5px 10px;
  font-size: 16px;
  right:  50px;
  bottom: 5px;
  left: 50px;
  border: 0;
  top: 5px;
}
#messageBox #messangerBottom .icon-mic {
  line-heighgt: 24px;
  border-radius: 3px;
  position: absolute;
  font-size: 16px;
  right:  10px;
  bottom: 5px;
  border: 0;
  top: 9px;
}
