<template>
	<div>
    <h1>Product</h1>
    <div v-for = "p in products">
    	<h5>{{p.name}}</h5>
    	<button @click = 'updateProd(p.id)'>Confirm</button>
    	<button>Delete</button>
    </div>
	</div>
</template>
<script >
	export default{
		data(){
			return{
				products:[]
			}
		},
		created(){
			this.axios.get("/api/admin/getProducts").then((r)=>{
				this.products=r.data
			})
		},
		methods:{
			updateProd(x){
				this.axios.get(`/api/admin/update/${x}`).then((r)=>{
					this.products=this.products.filter(a=>a.id!=x)
				})
			}
		}
	}
</script>