<template>
	<div>
    <h1>User</h1>
    <div v-for = 'u in users'>
    	<h4>{{u.name}}</h4>
    	<p>{{u.email}}</p>
    	<textarea></textarea>
    	<button @click = "send" :value="u.id">Send</button>
    </div>
	</div>
</template>
<script >
	export default{
		data(){
			return{
				users:[]
			}
		},
		created(){
			this.axios.get("/api/admin/getUsers").then((r)=>{
				this.users = r.data
			})
		},
		methods:{
			send(e){
				let user_id = $(e.target).val()
				let message = $(e.target).prev().val()
				this.axios.post("/api/admin/send",{user_id:user_id,namak:message}).then((r)=>{
					console.log(r.data)
				})
			}
		}
	}
</script>